{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
<div class="row-fluid">
    <h1>Welcome</h1>
    <p>
        Eventually, we'll have a more detailed explaination here ... how this all works. ;)
    </p>
</div>
{% endblock %}
