{% extends "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block content %}
    <div class="row-fluid">
        {% include "PackagistWebBundle:User:nav.html.twig" with {'active': 'profile'} %}

        <h1>{{ user.username }} (that's you!)</h1>
        {% if not user.githubId %}
        <div class="alert alert-block alert-info">
            <h4>Did you know?</h4>
            <a href="{{ hwi_oauth_login_url('github') }}">You can connect your github account</a>
        </div>
        {% endif %}

        {% if app.user.apiToken %}
        <div class="row-fluid">
            <div class="span3">
                <h2>Your API Token</h2>
                <p><code>{{ app.user.apiToken }}</code></p>
                <p>You can use your API token to interact with the Packagist API.</p>
            </div>
            <div class="span3">
                <h2>GitHub Service Hook</h2>
                <p>Enabling the Packagist service hook ensures that your package will always be updated instantly when you push to GitHub. To do so you can go to your GitHub repository, click the "Admin" button, then "Service Hooks". Pick "Packagist" in the list, and add your API token (see above), plus your Packagist username if it is not the same as on GitHub. Check the "Active" box and submit the form.</p>
            </div>
            <div class="span3">
                <h2>Bitbucket Service</h2>
                <p><em>Note:</em> The service has currently not been enabled on Bitbucket's side, so please give it some time to become available.</p>
                <p>To enable the Bitbucket service hook, go to your BitBucket repository, open the "Admin" tab and select "Services" in the menu. Pick "Packagist" in the list and add it to your repository. Afterwards, configure it like the GitHub service hook.</p>
            </div>
        </div>
        {% endif %}

        <h2>Your packages</h2>
        {% if packages|length %}
            {{ macros.listPackages(packages, true, true) }}
        {% else %}
            <div class="alert alert-warning">No packages found.</div>
        {% endif %}
    </div>
{% endblock %}
